[submodule "src/magit"]
	path = src/magit
	url = http://github.com/philjackson/magit.git
[submodule "snippets/text-mode/org-mode"]
	path = snippets/text-mode/org-mode
	url = http://github.com/eschulte/yasnippet-org-mode.git
[submodule "src/auctex-src"]
	path = src/auctex-src
	url = http://github.com/kjhealy/auctex.git
[submodule "src/markdown"]
	path = src/markdown
	url = http://jblevins.org/git/markdown-mode.git
[submodule "src/org"]
	path = src/org
	url = git://repo.or.cz/org-mode.git
[submodule "src/smex"]
	path = src/smex
	url = http://github.com/nonsequitur/smex.git
